$color-light-blue: #19C4FF;
$color-dark-blue: #0085B2;
$color-light-orange: #FF8F19;
$color-dark-orange: #B26009;
$color-gray: #bbb;
$color-light-gray: #f5f5f5;
$color-dark-gray: #666;

$color-white: #ffffff;

